@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

.hue-rotate {
  animation: hue-rotate 4s infinite linear;
}

.hue-rotate-360 {
  animation: hue-rotate 4s infinite linear;
}

a {
  text-decoration: none;
  color: #00d8ff;
}

@keyframes hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(60deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}

@keyframes hue-rotate-360 {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.card {
  position: relative;
}

.card:hover .card-action-area {
  top: 20%;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #00d8ff, #8c4fff);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00d8ff transparent;
}
